openapi: 3.0.3
info:
  title: Incomaker Commons v4
  version: 4.0.0
  description: Best-effort OpenAPI conversion from API Blueprint.
servers:
- url: https://commons.incomaker.com/v4
paths:
  /socialaccounts:
    get:
      summary: Get Accounts
      tags:
      - Social Accounts
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters `type`
      parameters:
      - name: active
        in: query
        required: false
        schema:
          type: boolean
        example: 'true '
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: network
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Filter accounts by name.
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /adaccounts/facebook:
    get:
      summary: Get Accounts for Facebook
      tags:
      - Ad Accounts
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters `type`
      description: Fetch advertising accounts with filters for network, name or type.
      parameters:
      - name: socialaccount
        in: query
        required: true
        schema:
          type: string
        example: ffa27357
        description: facebook`s account id
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /assets/email/generate:
    post:
      summary: Generate e-mail content (AI)
      tags:
      - Assets
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: "+ result (object, required)\n\n    + subject (string, required)\n    + preheader (string)\n    + html\
                \ (string, required)\n    + text (string, required)\n\n+ meta (object, required)\n\n    + model (string, required)\n\
                \    + generatedAt (string, required, format: date-time)\n    + language (string, required)\n\n\n```json\n\
                {\n  \"result\": {\n    \"subject\": \"Výprodej zimní kolekce – doprava zdarma nad 1 500 Kč\",\n    \"preheader\"\
                : \"Zimní bundy, boty a doplňky se slevou. Nabídka platí omezenou dobu.\",\n    \"html\": \"<html><body><h1>Výprodej\
                \ zimní kolekce</h1><p>Doprava zdarma nad 1 500 Kč.</p><a href=\\\"{{ctaUrl}}\\\">Nakoupit se slevou</a></body></html>\"\
                ,\n    \"text\": \"Výprodej zimní kolekce. Doprava zdarma nad 1 500 Kč. Nakoupit se slevou: {{ctaUrl}}\"\n\
                \  },\n  \"meta\": {\n    \"model\": \"loreana\",\n    \"generatedAt\": \"2026-01-30T14:00:00Z\",\n    \"\
                language\": \"cs\"\n  }\n}\n```"
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: string
              example: "```json\n{\n  \"error\": \"Invalid parameters: missing language or inputs.brief\"\n}\n```"
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: string
              example: "```json\n{\n  \"error\": \"You don’t have permission to generate AI content.\"\n}\n```"
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: string
              example: "```json\n{\n  \"error\": \"Unable to generate content\",\n  \"details\": {\n    \"reason\": \"prompt_too_long\"\
                \n  }\n}\n```"
      description: Generate draft email content (subject, optional preheader, HTML body and plain-text version) using AI based
        on campaign context, target audience, selected products and custom instructions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            example: "+ language: `cs` (string, required) - ISO 639-1 language code of the output\n+ tone: `sales` (string,\
              \ optional) - Desired tone/style (e.g. sales, friendly, urgent, informational)\n+ context (object, required)\n\
              \n    + campaignId: `c_1001` (string, required)\n    + campaignType: `onetime` (string, required)\n    + channel:\
              \ `email` (string, required)\n\n+ audience (object, required)\n\n    + audienceId: `0469ab2c-9ee4-4923-a470-9fbebbbb5252`\
              \ (string, required) - UUID of the target audience/segment\n\n+ products (object, optional)\n\n    + productIds\
              \ (array[number], optional) - List of product IDs from the e-commerce catalog\n    + limit: `6` (number, optional)\
              \ - Max number of products to reference/include\n\n+ constraints (object, optional)\n\n    + maxSubjectLength:\
              \ `55` (number, optional) - Maximum allowed length of subject line\n    + includePreheader: `true` (boolean,\
              \ optional) - Whether to generate preheader text\n\n+ inputs (object, required)\n\n    + brief: `Výprodej zimní\
              \ kolekce, zdůraznit dopravu zdarma nad 1 500 Kč. CTA: Nakoupit se slevou.` (string, required) - Main instruction\
              \ and copy direction for the AI\n    + brandName: `Incomaker Shop` (string, optional) - Brand name to use in\
              \ the copy\n\n\n    ```json\n    {\n      \"language\": \"cs\",\n      \"tone\": \"sales\",\n      \"context\"\
              : {\n        \"campaignId\": \"c_1001\",\n        \"campaignType\": \"onetime\",\n        \"channel\": \"email\"\
              \n      },\n      \"audience\": {\n        \"audienceId\": \"0469ab2c-9ee4-4923-a470-9fbebbbb5252\"\n      },\n\
              \      \"products\": {\n        \"productIds\": [412458425, 412458426, 412458427],\n        \"limit\": 6\n \
              \     },\n      \"constraints\": {\n        \"maxSubjectLength\": 55,\n        \"includePreheader\": true\n\
              \      },\n      \"inputs\": {\n        \"brief\": \"Výprodej zimní kolekce, zdůraznit dopravu zdarma nad 1\
              \ 500 Kč. CTA: Nakoupit se slevou.\",\n        \"brandName\": \"Incomaker Shop\"\n      }\n    }\n    ```"
  /audiences:
    get:
      summary: Get Audiences
      tags:
      - Audiences
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters `type`
      description: Fetch audiences by type, with filters for name, date range, and category.
      parameters:
      - name: type
        in: query
        required: false
        schema:
          type: string
        example: incomaker
      - name: state
        in: query
        required: false
        schema:
          type: string
        example: paused,invalid
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: hollydays
        description: Filter audiences by name.
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '20 '
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '5 '
        description: Pagination offset.
      security:
      - bearerAuth: []
  /campaigns:
    get:
      summary: Get campaigns
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: '+ campaigns (array[Campaign], required)

                + paging (Paging, required)'
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters
      description: Fetch campaigns by type, with filters for name, date range, and category.
      parameters:
      - name: categoryId
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: The ID of the category to filter campaigns.
      - name: channel
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: christmass
        description: Filter campaigns by name.
      - name: type
        in: query
        required: false
        schema:
          type: string
        example: onetime
        description: Filter campaigns by type
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
        example: '2025-05-15'
        description: Start date filter
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
        example: '2025-05-25'
        description: End date filter
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '5'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /campaigns/{campaignId}/archive:
    post:
      summary: Archive Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Campaign not found
      description: Move a campaign to the archived list.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
  /campaigns/{campaignId}/{action}:
    post:
      summary: Pause/Resume/Cancel Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Action not allowed
      description: Change a campaign’s running state. Replace `{action}` with `pause`, `resume`, or `cancel`.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      - name: action
        in: path
        required: true
        schema:
          type: string
        description: Action to perform (`pause`, `resume`, `cancel`).
      security:
      - bearerAuth: []
  /campaigns/{campaignId}/rename:
    put:
      summary: Rename Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: Rename an existing campaign.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
  /campaigns/{campaignId}/duplicate:
    post:
      summary: Duplicate Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: Clone an existing campaign.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
  /campaigns/{campaignId}:
    delete:
      summary: Delete Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: Remove a campaign permanently.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
  /campaigns/categories:
    get:
      summary: Get Categories
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: '"categoryId": "1",

                "name": "Category 1",

                "color": "#FF0000"

                "categoryId": "2",

                "name": "Category 2",

                "color": "#00FF00"'
      description: Fetch all campaign categories.
      security:
      - bearerAuth: []
    post:
      summary: Add New Category
      tags:
      - Campaigns
      responses:
        '201':
          description: HTTP 201 response
        '400':
          description: HTTP 400 response
      description: Create a new campaign category.
      security:
      - bearerAuth: []
  /contacts/{contactId}:
    get:
      summary: Get contact
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                contactId: 263d7733-b8f5-4f62-9330-525702be7be7
                clientContactId: '1245451254'
                firstName: John
                lastName: Doe
                titleBefore: Prof.
                titleAfter: Ph.D.
                formalSalutation: Dear Mr. Doe
                informalSalutation: Dear John
                company: Incomaker s.r.o.
                position: CEO
                personalId: '75876549203'
                consentDate: '2018-05-30T13:00:00+02:00'
                contactSource: Pop-up
                created: '2018-05-30T13:00:00+02:00'
                updated: '2018-05-30T13:00:00+02:00'
                clientContactCreated: '2018-05-30T13:00:00+02:00'
                email: info@incomaker.com
                phoneNumber1: '87639642'
                phoneNumber2: '76590824502'
                street: Argentinska
                street2: '38'
                city: Prague
                postalCode: '17000'
                region: Prague
                country: CZ
                language: cs
                birthday: '2018-05-30T13:00:00+02:00'
                location:
                  latitude: 50.0820343
                  longitude: 14.4008503
                pricelist: End user
                remarks: Nothing special for this contact
                tags:
                - tag1
                - tag2
                fields:
                - name: Shoe size
                  value: '45'
                  group: Parameters
                - name: urgency
                  value: medium
                  group: Parameters
                lists:
                - Test
                - Test2
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view contact 263d7733-b8f5-4f62-9330-525702be7be7
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The contact 263d7733-b8f5-4f62-9330-525702be7be7 does not exist
      description: Returns the list of contacts of the e-shop.
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    put:
      summary: Update contact
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit contact 760819d3-92bb-420c-967a-77f693dfc5d3
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The contact 760819d3-92bb-420c-967a-77f693dfc5d3 does not exist
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing mandatory parameter 'title'
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"error\" : \"Error parsing consentDate\"   - An invalid parameter. The particular parameter\
                \ should be returned.\n}"
      description: Update the contents of an existing contact.
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              contactId: 263d7733-b8f5-4f62-9330-525702be7be7
              clientContactId: '1245451254'
              firstName: John
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mr. Doe
              informalSalutation: Dear John
              company: Incomaker s.r.o.
              position: CEO
              personalId: '75876549203'
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              created: '2018-05-30T13:00:00+02:00'
              updated: '2018-05-30T13:00:00+02:00'
              clientContactCreated: '2018-05-30T13:00:00+02:00'
              email: info@incomaker.com
              phoneNumber1: '87639642'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              location:
                latitude: 50.0820343
                longitude: 14.4008503
              pricelist: End user
              remarks: Nothing special for this contact
              tags:
              - tag1
              - tag2
              fields:
              - name: Shoe size
                value: '45'
                group: Parameters
              - name: urgency
                value: medium
                group: Parameters
              lists:
              - Test
              - Test2
              event: my_custom_event
      security:
      - bearerAuth: []
    delete:
      summary: Delete contact
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to delete contact 760819d3-92bb-420c-967a-77f693dfc5d
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Contact 760819d3-92bb-420c-967a-77f693dfc5d does not exist
      description: Delete an existing contact.
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            example: "    {\n        \"event\": \"my_custom_event\",\n    }"
      security:
      - bearerAuth: []
  /contacts/count:
    get:
      summary: Get total number of contacts
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                count: 1234
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view tag 12545411
      description: Returns the total number of contacts of the e-shop.
      security:
      - bearerAuth: []
  /contacts:
    post:
      summary: Create contact
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /contacts/760819d3-92bb-420c-967a-77f693dfc5d3
          content:
            application/json:
              schema:
                type: object
              example:
                contactId: 760819d3-92bb-420c-967a-77f693dfc5d3
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add contacts.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing mandatory parameter 'email'
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Error parsing consentDate
      description: Creates a **single contact**. You may optionally provide an event and permId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              clientContactId: '1245451254'
              firstName: John
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mr. Doe
              informalSalutation: Dear John
              company: Incomaker s.r.o.
              position: CEO
              personalId: '75876549203'
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              created: '2018-05-30T13:00:00+02:00'
              updated: '2018-05-30T13:00:00+02:00'
              email: info@incomaker.com
              phoneNumber1: '87639642'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              location:
                latitude: 50.0820343
                longitude: 14.4008503
              pricelist: End user
              remarks: Nothing special for this contact
              tags:
              - tag1
              - tag2
              fields:
              - name: Shoe size
                value: '45'
                group: Parameters
              - name: urgency
                value: medium
                group: Parameters
              lists:
              - Test
              - Test2
              event: my_custom_event
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /contacts/bulk:
    post:
      summary: Create multiple contacts
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                type: object
              example:
                contactIds:
                - 760819d3-92bb-420c-967a-77f693dfc5d3
                - 282419d3-92bb-420c-967a-aab693dfc5d3
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add contacts.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Error parsing 'birthday'
      description: Creates **multiple contacts**. You cannot use event or permId in bulk operations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
            example:
            - contactId: 263d7733-b8f5-4f62-9330-525702be7be7
              clientContactId: '1245451254'
              firstName: John
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mr. Doe
              informalSalutation: Dear John
              company: Incomaker s.r.o.
              position: CEO
              personalId: '75876549203'
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              created: '2018-05-30T13:00:00+02:00'
              updated: '2018-05-30T13:00:00+02:00'
              clientContactCreated: '2018-05-30T13:00:00+02:00'
              email: info@incomaker.com
              phoneNumber1: '87639642'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              location:
                latitude: 50.0820343
                longitude: 14.4008503
              pricelist: End user
              remarks: Nothing special for this contact
              tags:
              - tag1
              - tag2
              fields:
              - name: Shoe size
                value: '45'
                group: Parameters
              - name: urgency
                value: medium
                group: Parameters
              lists:
              - Test
              - Test2
            - clientContactId: '1245451278'
              firstName: Jane
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mrs. Doe
              informalSalutation: Dear Jane
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              email: jane@incomaker.com
              phoneNumber1: '12121545'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              pricelist: End user
              lists:
              - Test2
      security:
      - bearerAuth: []
  /contacts/login:
    post:
      summary: Contact login
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /events/1232124545
          content:
            application/json:
              schema:
                type: object
              example:
                eventId: '1232124545'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"error\" : \"Error parsing clientContactId\"   - An invalid parameter. The particular parameter\
                \ should be returned.\n}"
      description: Use this method when a user logs into your e-shop (website, ERP, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              clientContactId: '1245451254'
              email: info@incomaker.com
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /contacts/logout:
    post:
      summary: Contact logout
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /events/1232124545
          content:
            application/json:
              schema:
                type: object
              example:
                eventId: '1232124545'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"error\" : \"Error parsing clientContactId\"   - An invalid parameter. The particular parameter\
                \ should be returned.\n}"
      description: Use this method when a user logs out from your e-shop (website, ERP, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              clientContactId: '1245451254'
              email: info@incomaker.com
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /contacts/subscriptions:
    get:
      summary: Contact get subscriptions
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                lists:
                - Newsletter
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing or invalid token.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Contact not found.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Provide either 'clientContactId' or 'email'.
      description: Use this method to retrieve the contact’s current mailing/SMS subscription lists.
      parameters:
      - name: clientContactId
        in: query
        required: false
        schema:
          type: string
        example: '1245451254'
        description: Unique identifier of the contact in the client’s system.
      - name: email
        in: query
        required: false
        schema:
          type: string
        example: info@incomaker.com
        description: Contact’s email. If both are provided, `clientContactId` has priority.
      security:
      - bearerAuth: []
    put:
      summary: Contact replace subscriptions (full set)
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                lists:
                - Newsletter
                - E-shop customers
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing or invalid token.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to modify subscriptions.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Contact not found.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid or missing 'lists' / selector.
      description: Use this method to **replace** the contact’s subscription lists with the provided set (idempotent).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              clientContactId: '1245451254'
              email: info@incomaker.com
              lists:
              - Newsletter
              - E-shop customers
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
              event: subscribe
      security:
      - bearerAuth: []
    patch:
      summary: Contact adjust subscriptions (partial)
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                lists: []
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing or invalid token.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to modify subscriptions.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Contact not found.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Provide 'add' and/or 'remove', and a valid selector.
      description: Use this method to **add** and/or **remove** specific lists without touching others (idempotent).
      security:
      - bearerAuth: []
  /contacts/subscriptions/unsubscribe-all:
    patch:
      summary: Contact usubscribe from all
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing or invalid token.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to modify subscriptions.
      description: Use this endpoint to **unsubscribe from all** lists.
      security:
      - bearerAuth: []
  /cart/items/{itemId}:
    post:
      summary: Add an Item to Cart
      tags:
      - Carts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - itemId: PR1245451254
                  quantity: 2
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Couldn't Authenticate.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing mandatory parameter 'permId'
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Product 'PR1245451254' not found
      description: Use this method to add a single item to the cart on your e-shop. The `itemId` identifies the product or
        product variant to add. For more complex maniputation with orders, see /orders endpoint.
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
        example: PR1245451254
        description: Unique identifier of the product or product variant in the client's system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              quantity: 2
              clientContactId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
    delete:
      summary: Remove an Item from Cart
      tags:
      - Carts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                items:
                - itemId: PR1245451254
                  quantity: 2
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Couldn't Authenticate.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing mandatory parameter 'permId'
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Item 'PR1245451254' not found in cart
      description: Use this method to remove a specific item from the cart on your e-shop.
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
        example: PR1245451254
        description: Unique identifier of the product or product variant in the client's system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              clientContactId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /cart/checkout:
    post:
      summary: Create an Order from Cart
      tags:
      - Carts
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"orderId\": \"order789\",\n    \"status\": \"confirmed\",\n}"
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Couldn't Authenticate.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to create orders.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing mandatory parameter 'permId'
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Cart is empty or does not exist
      description: Use this method to convert the cart into an order, setting the order status to `confirmed`. This finalizes
        the cart and creates a new order resource.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              clientContactId: '1245451254'
              orderId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /deals/{dealId}:
    get:
      summary: Get deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                dealId: 12124
                name: Marketing analysis
                summary: Marketing analysis
                contacts:
                - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                  firstName: John
                  lastName: Smith
                  email: test1@incomaker.com
                  phone: +420 284681213
                - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                  firstName: Jane
                  lastName: Smooth
                  email: test2@incomaker.com
                  phone: +420 603525125
                userId: 1
                stateId: 2
                value: 10000
                progress: 75
                tags:
                - Test
                - Test2
                fields:
                - name: importance
                  value: high
                - name: urgency
                  value: medium
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    put:
      summary: Update deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: A parameter 'name' is invalid.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            example: "    {\n        \"name\": \"Marketing analysis\",\n        \"summary\": \"Marketing analysis\",\n   \
              \     \"contacts\": [\n            {\n                \"contactId\": \"8f0daf26-c9bb-40fa-b436-ffe3b89528eb\"\
              ,\n                \"email\": \"test1@incomaker.com\",\n                \"phone\": \"+420 284681213\"\n    \
              \        },\n            {\n                \"contactId\": \"abs2af26-d9ba-a0f1-4438-abe3b8952842\",\n     \
              \           \"email\": \"test2@incomaker.com\",\n                \"phone\": \"+420 603525125\"\n           \
              \ }\n        ],\n        \"userId\": 1542,\n        \"stateId\": 323,\n        \"value\": 10000,\n        \"\
              progress\": 50,\n        \"tags\": [\"Test\", \"Test2\"],\n        \"fields\": [\n            {\n          \
              \      \"name\": \"importance\",\n                \"value\": \"high\"\n            }\n        ],\n        \"\
              event\": \"my_custom_event_name\",\n    }"
      security:
      - bearerAuth: []
    delete:
      summary: Delete deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            example: "    {\n        \"event\": \"my_custom_event_name\",\n    }"
      security:
      - bearerAuth: []
  /deals:
    get:
      summary: Find deals
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                deals:
                - dealId: 123
                  name: Alpha Company
                  summary: Marketing analysis
                  contacts:
                  - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                    firstName: John
                    lastName: Smith
                    email: test1@incomaker.com
                    phone: +420 284681213
                  - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                    firstName: Jane
                    lastName: Smooth
                    email: test2@incomaker.com
                    phone: +420 603525125
                  userId: 1
                  stateId: 2
                  value: 10000
                  progress: 75
                  tags:
                  - Test
                  - Test2
                  fields:
                  - name: importance
                    value: high
                  - name: urgency
                    value: medium
                - dealId: 124
                  name: Alpha Ltd
                  summary: ''
                  contacts:
                  - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                    firstName: John
                    lastName: Smith
                    email: test1@incomaker.com
                    phone: +420 284681213
                  userId: 100
                  stateId: 1
                  value: 1000
                  progress: 50
                start: 21
                count: 40
                totalCount: 100
                totalPages: 5
                links:
                - href: /offset=40&limit=60
                  rel: next
                - href: /offset=0&limit=20
                  rel: previous
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view deals
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: responsible
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
    post:
      summary: Create deal
      tags:
      - Deals
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /deals/125411
          content:
            application/json:
              schema:
                type: object
              example:
                dealId: '125411'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add deals
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Error parsing contactId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Marketing analysis
              summary: Marketing analysis
              contacts:
              - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
              - email: test125@incomaker.com
              userId: 1542
              stateId: 323
              value: 10000
              progress: 50
              tags:
              - Test
              - Test2
              fields:
              - name: importance
                value: high
              event: deal_created
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /deals/{dealId}/attachments:
    get:
      summary: Get deals attachments
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: "    + attachmentId: 6721 (number) - The ID of the attachment\n    + filename: document.pdf (string)\
                \ - The name of the attachment file\n    + url: https://api.example.com/files/67890 (string) - The URL to\
                \ download the attachment\n    + uploadedAt: 2023-05-23T10:20:30Z (string, optional) - The timestamp when\
                \ the attachment was uploaded\n\n\n[\n    {\n        \"attachmentId\": 67890,\n        \"filename\": \"document.pdf\"\
                ,\n        \"url\": \"https://api.example.com/files/67890\",\n        \"uploadedAt\": \"2023-05-23T10:20:30Z\"\
                \n    }\n]"
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
      description: Retrieves an attachment associated with a specific deal.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: number
        example: '12345 '
        description: The ID of the deal to retrieve attachments for
      security:
      - bearerAuth: []
    post:
      summary: Post deals attachment
      tags:
      - Deals
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                type: object
              example:
                attachmentId: '67890'
                dealId: '12345'
                fileName: example.pdf
                fileSize: 123456
                uploadDate: '2024-05-24T12:34:56Z'
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing mandatory parameter 'name'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
      description: Adds an attachment to a deal. Deal can contain multiple attachments.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
        example: '12345'
        description: ID of the deal to which the attachment will be uploaded
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: string
            example: "    --boundary\n    Content-Disposition: form-data; name=\"file\"; filename=\"example.pdf\"\n    Content-Type:\
              \ application/pdf\n\n    (contents of the file)\n\n    --boundary--"
      security:
      - bearerAuth: []
  /deals/{deal_id}/attachments/{attachment_id}:
    delete:
      summary: Delete deals attachment
      tags:
      - Deals
      responses:
        '204':
          description: HTTP 204 response
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: '''document.pdf'' missing'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to delete 'document.pdf'
      description: Deletes a specific attachment associated with a deal.
      parameters:
      - name: deal_id
        in: path
        required: true
        schema:
          type: number
        example: '12345 '
        description: The ID of the deal
      - name: attachment_id
        in: path
        required: true
        schema:
          type: number
        example: '67890 '
        description: The ID of the attachment to be deleted
      security:
      - bearerAuth: []
  /deals/{dealId}/contacts:
    get:
      summary: Get deals contacts
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                contacts:
                - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                  email: test1@incomaker.com
                  phone: +420 284681213
                - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                  email: test2@incomaker.com
                  phone: +420 603525125
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
      description: Retrieve a list of contacts from a deal.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    post:
      summary: Add deals contacts
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The deal 12122 does not exist
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: A parameter 'contactId' is invalid.
      description: Assigns an existing contact to a deal.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              contacts:
              - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                email: test1@incomaker.com
                phone: +420 284681213
              - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                email: test2@incomaker.com
                phone: +420 603525125
      security:
      - bearerAuth: []
  /deals/{dealId}/contacts/{contactId}:
    delete:
      summary: Remove contact from deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: The contact 263d7733-b8f5-4f62-9330-525702be7be7 not found
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to remove the contact
      description: Removes a specific contact from the deal. The contact still remains in the system.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: number
        example: '12345 '
        description: The ID of the deal
      - name: contactId
        in: path
        required: true
        schema:
          type: string
        example: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
        description: The contact_id to be removed from the deal
      security:
      - bearerAuth: []
  /deals/{dealId}/activities:
    get:
      summary: Get deals activities
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                activities:
                - activityId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                  name: News from us
                  content: Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam
                  userId: 1
                  medium: Phone
                  address: +420 602832132
                  direction: Incoming
                  start: '2023-05-23T10:20:30Z'
                  end: '2023-05-23T10:50:30Z'
                start: 21
                count: 1
                totalCount: 100
                totalPages: 5
                links:
                - href: /offset=40&limit=60
                  rel: next
                - href: /offset=0&limit=20
                  rel: previous
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view deals
      description: Returns a list of activities (originally communicaitons).
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      - name: responsible
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /deals/states:
    get:
      summary: List deal states
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                states:
                - dealStateId: 123
                  name: Lead
                  description: Possible customer
                  visible: true
                  type: win
                  order: 1
                  color: '#1B1C5A'
                - dealStateId: 234
                  name: Active
                  description: Active customer
                  visible: true
                  order: 5
                  color: '#AABBDD'
      security:
      - bearerAuth: []
    post:
      summary: Create deal state
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          headers:
            Location:
              schema:
                type: string
              example: /deals/1234
          content:
            application/json:
              schema:
                type: object
              example:
                dealStateId: '1234'
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: A parameter 'name' is invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Lead
              description: Possible customer
              visible: true
              type: win
              order: 1
              color: '#1B1C5A'
      security:
      - bearerAuth: []
  /deals/states/{dealStateId}:
    put:
      summary: Update deal state
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You cannot edit deal state 1234.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: A deal state 1234 does not exist.
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: A parameter 'name' is invalid.
      parameters:
      - name: dealStateId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: Lead
              description: Possible customer
              visible: true
              type: win
              order: 1
              color: '#1B1C5A'
      security:
      - bearerAuth: []
    delete:
      summary: Delete deal state
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You cannot edit deal state 1234.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: A deal state 1234 does not exist.
      parameters:
      - name: dealStateId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
  /delivery/e-mail:
    post:
      summary: Send E-mails delivery
      tags:
      - Delivery
      responses:
        '201':
          description: HTTP 201 response
        '400':
          description: HTTP 400 response
        '401':
          description: HTTP 401 response
        '403':
          description: HTTP 403 response
        '422':
          description: HTTP 422 response
      description: Create and (optionally) schedule an e-mail delivery using an audience and one or more e-mail assets (for
        language variants).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              audience:
                audienceId: 0469ab2c-9ee4-4923-a470-9fbebbbb5252
              assets:
              - assetId: 8b7c2a2a-2a6a-4f7f-ae7f-8e2f6d9e2b1a
              schedule: now
  /delivery/sms:
    post:
      summary: Send SMS delivery
      tags:
      - Delivery
      responses:
        '201':
          description: HTTP 201 response
      description: Create and (optionally) schedule an SMS delivery. Supports multiple assets per language.
  /delivery/push:
    post:
      summary: Send push delivery
      tags:
      - Delivery
      responses:
        '201':
          description: HTTP 201 response
      description: Create and (optionally) schedule a push notification delivery. Multiple assets supported per language.
  /delivery/e-mail/test-send:
    post:
      summary: Send Test E-mail
      tags:
      - Delivery
      responses:
        '201':
          description: HTTP 201 response
      description: 'Send an e-mail preview to specific recipients.

        Does **not** create a delivery or job.'
  /delivery/sms/test-send:
    post:
      summary: Send Test SMS
      tags:
      - Delivery
      responses:
        '201':
          description: HTTP 201 response
      description: 'Send an SMS preview to specific device tokens / channel IDs.

        Does **not** create a delivery or job.'
  /delivery/push/test-send:
    post:
      summary: Send Test Push
      tags:
      - Delivery
      responses:
        '201':
          description: HTTP 201 response
      description: 'Send a push preview to specific device tokens / channel IDs.

        Does **not** create a delivery or job.'
  /delivery/e-mail/validate:
    post:
      summary: Validate E-mail (dry run)
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                channel: email
                audience:
                  intended: 2500
                  suppressed: 48
                  deliverable: 2452
                  suppressionBreakdown:
                    unsubscribed: 15
                    invalidEmail: 22
                    noConsent: 11
                languages:
                - language: cs
                  recipients: 1800
                  assetRef: 8b7c2a2a-2a6a-4f7f-ae7f-8e2f6d9e2b1a
                - language: en
                  recipients: 652
                  assetRef: inline:0
                render:
                  samples:
                  - language: cs
                    contactId: 760819d3-92bb-420c-967a-77f693dfc5d3
                    subject: Vítejte!
                    htmlExcerpt: <html><body>…</body></html>
                  warnings: []
                  errors: []
      description: Validate an e-mail delivery without sending or creating a job.
  /delivery/sms/validate:
    post:
      summary: Validate SMS (dry run)
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                channel: sms
                audience:
                  intended: 2
                  suppressed: 0
                  deliverable: 2
                languages:
                - language: en
                  recipients: 2
                  assetRef: inline:0
                  estimatedPartsPerMsg: 1
                render:
                  samples:
                  - language: en
                    contactId: 263d…be7be7
                    text: Hi John, your code is 123456
                  warnings: []
                  errors: []
                costEstimate:
                  currency: EUR
                  messages: 2
                  parts: 2
      description: Validate an SMS delivery without sending or creating a job.
  /delivery/push/validate:
    post:
      summary: Validate Push (dry run)
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                channel: push
                audience:
                  intended: 12000
                  suppressed: 300
                  deliverable: 11700
                languages:
                - language: en
                  recipients: 11700
                  assetRef: inline:0
                render:
                  samples:
                  - language: en
                    contactId: a1b2…
                    title: Sale is on!
                    body: Tap to shop
                  warnings: []
                  errors: []
      description: Validate a push delivery without sending or creating a job.
      security:
      - bearerAuth: []
  /delivery/jobs/{jobId}:
    get:
      summary: Get Delivery Job
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                jobId: 1c6a3c9e-5a9f-4a79-a4c8-b27b9b0e2e22
                channel: email
                deliveryId: 35a5d0e7-934f-4d50-9f4d-8c370ca72111
                state: running
                created: '2025-10-28T10:02:00+02:00'
                scheduledFor: '2025-10-28T10:02:00+02:00'
                started: '2025-10-28T10:02:05+02:00'
                completed: null
                counts:
                  intended: 2500
                  sent: 1240
                  failed: 3
                  filtered: 45
        '404':
          description: HTTP 404 response
      description: Retrieve current state and summary metrics for any delivery job (e-mail, SMS, push).
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
  /delivery/jobs:
    get:
      summary: List Delivery Jobs
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                jobs:
                - jobId: 1c6a3c9e-5a9f-4a79-a4c8-b27b9b0e2e22
                  channel: email
                  state: completed
                  scheduledFor: '2025-10-20T09:00:00+02:00'
                - jobId: 7e0db2d5-4f1c-4e6e-98d8-0a6f8d7b1c10
                  channel: sms
                  state: running
                  scheduledFor: '2025-10-28T11:30:00+02:00'
                paging:
                  offset: 0
                  limit: 50
                  totalItems: 2
                  totalPages: 1
      description: List delivery jobs across all channels, with optional filtering.
      parameters:
      - name: channel
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '50 '
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0 '
  /delivery/jobs/{jobId}/cancel:
    post:
      summary: Cancel Delivery Job
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
        '409':
          description: HTTP 409 response
        '404':
          description: HTTP 404 response
      description: Cancel a pending or running delivery job.
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
  /delivery/jobs/{jobId}/pause:
    post:
      summary: Pause Delivery Job
      tags:
      - Delivery
      responses:
        '200':
          description: HTTP 200 response
        '409':
          description: HTTP 409 response
        '404':
          description: HTTP 404 response
      description: Pause a running delivery job.
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
  /events/types:
    get:
      summary: Get event types
      tags:
      - Events
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                name: subscribe_shoptet_form
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to read events.
      description: Get list of event types defined for plugin.
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: 'test '
        description: Fulltext filter
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of events to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /events:
    post:
      summary: Custom event
      tags:
      - Events
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /events/1232124545
          content:
            application/json:
              schema:
                type: object
              example:
                eventId: '1232124545'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to add events.
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Error parsing event
      description: Use this method if you need to send a custom event that is not defined in the system. We recommend using
        standard events with standard methods whenever possible because they are optimized, well tested, and easy to use.
        However, you are free to define custom events wherever necessary.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              event: webinar_visited
              relatedId: 1s2fsd2fxvb45cv4b
              clientContactId: '1245451254'
              params: 'Level: advanced'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
  /forms/{service}/settings:
    get:
      summary: Get form settings
      tags:
      - Forms
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                tags:
                - 1234
                - 1235
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view form settings
      parameters:
      - name: service
        in: path
        required: true
        schema:
          type: string
        example: fb
        description: 'Target service. Allowed values: fb.'
      - name: form_id
        in: query
        required: true
        schema:
          type: string
        example: '1235'
        description: The ID of form to modify settings for.
      - name: user_id
        in: query
        required: true
        schema:
          type: string
        example: '11e7be80-8748-6d91-b8ed-525400f11789 '
        description: Use ID in Incomaker
      security:
      - bearerAuth: []
  /forms/{service}/{formId}/settings:
    put:
      summary: Update form settings
      tags:
      - Forms
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to acces this user
      description: This method allows editation of form settings
      parameters:
      - name: service
        in: path
        required: true
        schema:
          type: string
        example: fb
        description: 'Target service. Allowed values: fb.'
      - name: formId
        in: path
        required: true
        schema:
          type: string
        example: alfjdf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            example: "    {\n        \"userId\":\"123\",\n        \"type\":\"tags\",\n        \"operation\":\"set\",\n   \
              \     \"data\":{[123,456]}\n    }"
      security:
      - bearerAuth: []
  /forms/{service}/contact/mappings:
    get:
      summary: Get form field mappings
      tags:
      - Forms
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"data\":[{\n        \"formField\":\"external_form_field_id123\",\n        \"incoField\":\"\
                incomaker_field\",\n        \"isCustom\":true - true if inco_field contains custom field\n    }]\n}"
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view form mappings
      parameters:
      - name: service
        in: path
        required: true
        schema:
          type: string
        example: fb
        description: 'Target service. Allowed values: fb'
      - name: formId
        in: query
        required: true
        schema:
          type: string
        example: '1235'
        description: The ID of form to modify settings for.
      - name: userId
        in: query
        required: true
        schema:
          type: string
        example: 11e7be80-8748-6d91-b8ed-525400f11789
      security:
      - bearerAuth: []
  /forms/{service}/{formId}/contact/mappings:
    put:
      summary: Update form field mappings
      tags:
      - Forms
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to acces this user
      description: This method allows editation of form mappings
      parameters:
      - name: service
        in: path
        required: true
        schema:
          type: string
        example: fb
        description: 'Target service. Allowed values: fb.'
      - name: formId
        in: path
        required: true
        schema:
          type: string
        example: slkfjs123
        description: Form ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              userId: '123'
              operation: set
              data:
              - formField: XXX
                incoField: YYY
                isCustom: false
      security:
      - bearerAuth: []
  /notifications:
    get:
      summary: Get notifications
      tags:
      - Notifications
      responses:
        '200':
          description: HTTP 200 response
          headers:
            Authorization:
              schema:
                type: string
              example: Bearer JWT
            X-User-Id:
              schema:
                type: string
              example: <user id> - number, required
            + notificationId:
              schema:
                type: string
              example: '`35a5d0e7-934f-4d50-9f4d-8c370ca72111` (string, required)'
            + header:
              schema:
                type: string
              example: '`System notification` (string, required)'
            + message:
              schema:
                type: string
              example: '`System will be updated toninght` (string, optional)'
            + isRead:
              schema:
                type: string
              example: '`true` (boolean, optional) - Whether the message was readed or not'
            + created:
              schema:
                type: string
              example: '`2018-05-15T13:00:00+02:00` (string, required)'
            + url:
              schema:
                type: string
              example: '`https://incomaker.com` (string, optional) - Link attached to the message.'
            + severity:
              schema:
                type: string
              example: '`warn` (NotificationSeverity, required)'
            + channels:
              schema:
                type: string
              example: '`email` (array[NotificationChannel], required) - by which channels is the message propagated'
      parameters:
      - name: severity
        in: query
        required: false
        schema:
          type: string
        example: info
      - name: isRead
        in: query
        required: false
        schema:
          type: boolean
        example: 'true'
        description: Whether the message was readed by the user
      security:
      - bearerAuth: []
  /notifications/{notificationId}:
    get:
      summary: Get notification
      tags:
      - Notifications
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: "+ data\n    + notificationId: `35a5d0e7-934f-4d50-9f4d-8c370ca72111` (string, required)\n    + severity\
                \ (NotificationSeverity, required)\n    + channels (array[NotificationChannel], required) - by which channels\
                \ is the message propagated\n    + header: `System notification` (string, required)\n    + message: `System\
                \ will be updated toninght` (string, optional)\n    + isRead: `true` (boolean, optional) - Whether the message\
                \ was readed by the user\n    + created: `2018-05-15T13:00:00+02:00` (string, required)\n    + url: `https://incomaker.com`\
                \ (string, optional) - Link attached to the message."
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
    put:
      summary: Modify notification
      tags:
      - Notifications
      responses:
        '200':
          description: HTTP 200 response
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
    delete:
      summary: Delete notification
      tags:
      - Notifications
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to delete notification
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Failed to delete notification
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /lists:
    get:
      summary: Get Lists
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: '+ lists (array[List])

                + paging (Paging)'
        '400':
          description: HTTP 400 response
      description: Fetch lists with optional filters for category and name.
      parameters:
      - name: categoryId
        in: query
        required: false
        schema:
          type: number
        example: '1'
        description: Filter by category ID.
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: Customers
        description: Filter by list name.
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of lists to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
        description: Pagination offset.
      security:
      - bearerAuth: []
    post:
      summary: Create List
      tags:
      - Lists
      responses:
        '201':
          description: HTTP 201 response
        '409':
          description: HTTP 409 response
        '404':
          description: HTTP 404 response
        '400':
          description: HTTP 400 response
      description: 'Create a new list.

        Exactly one of `categoryId` or `categoryName` must be provided.'
      security:
      - bearerAuth: []
  /lists/{listRef}:
    put:
      summary: Update List
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
        '409':
          description: HTTP 409 response
        '404':
          description: HTTP 404 response
        '400':
          description: HTTP 400 response
      description: 'Update list fields by ID or by name.

        If changing the category, provide **exactly one** of `categoryId` or `categoryName`.'
      parameters:
      - name: listRef
        in: path
        required: true
        schema:
          type: string
        example: '123'
        description: List ID or list name.
      security:
      - bearerAuth: []
    get:
      summary: Get List
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: 'Retrieve a single list by ID or by name.

        **`listRef` rules:**

        - If `listRef` is numeric, it is treated as list `id`.

        - Otherwise it is treated as the **list name** (URL-encoded).'
      parameters:
      - name: listRef
        in: path
        required: true
        schema:
          type: string
        example: '123'
        description: List ID or list name.
      security:
      - bearerAuth: []
    delete:
      summary: Delete List
      tags:
      - Lists
      responses:
        '204':
          description: HTTP 204 response
      description: Delete a list by ID or by name.
      parameters:
      - name: listRef
        in: path
        required: true
        schema:
          type: string
        example: '123'
        description: List ID or list name.
      security:
      - bearerAuth: []
  /lists/{listRef}/contacts/count:
    get:
      summary: Get number of contacts for a list
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
      description: Returns the number of **contacts** subscribed to the given list.
      parameters:
      - name: listRef
        in: path
        required: true
        schema:
          type: string
        example: '123'
        description: List ID or list name.
      security:
      - bearerAuth: []
  /lists/contacts/count:
    get:
      summary: Get contact counts for all lists (grouped by category)
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n  \"categoryId\": 1,\n  \"categoryName\": \"Marketing\",\n  \"lists\": [\n{ \"listId\": 10, \"\
                listName\": \"Customers\", \"count\": 123 },\n{ \"listId\": 11, \"listName\": \"Leads\", \"count\": 0 }\n\
                \  ]\n}\n\"lists\": [\n  { \"listId\": 12, \"listName\": \"Internal\", \"count\": 45 }\n]"
        '403':
          description: HTTP 403 response
      description: Returns contact counts for all lists in the plugin, including category structure for UI rendering.
      security:
      - bearerAuth: []
  /lists/bulk:
    post:
      summary: Create Lists (bulk)
      tags:
      - Lists
      responses:
        '207':
          description: HTTP 207 response
          content:
            application/json:
              schema:
                type: object
              example:
                index: 0
                status: 201
                list:
                  id: 10
                  name: Customers
                  description: Customers list
                  category:
                    id: 1
                    name: Marketing
        '413':
          description: HTTP 413 response
        '400':
          description: HTTP 400 response
      description: 'Create multiple lists at once.

        **Limit:** maximum `100` lists per request.

        For each item, provide **exactly one** of `categoryId` or `categoryName`.'
      security:
      - bearerAuth: []
  /lists/categories:
    get:
      summary: Get List categories
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: '+ categories (array[ListCategory])

                + paging (Paging)'
        '400':
          description: HTTP 400 response
      description: Fetch list categories with optional name filter.
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: Marketing
        description: Filter categories by name.
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
      security:
      - bearerAuth: []
    post:
      summary: Create List category
      tags:
      - Lists
      responses:
        '201':
          description: HTTP 201 response
        '409':
          description: HTTP 409 response
        '400':
          description: HTTP 400 response
      description: Create a new list category.
      security:
      - bearerAuth: []
  /lists/categories/{categoryRef}:
    get:
      summary: Get List category
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: 'Retrieve a single category by ID or by name.

        **`categoryRef` rules:**

        - If `categoryRef` is numeric, it is treated as category `id`.

        - Otherwise it is treated as the **category name** (URL-encoded).'
      parameters:
      - name: categoryRef
        in: path
        required: true
        schema:
          type: string
        example: '1'
        description: Category ID or category name.
      security:
      - bearerAuth: []
    put:
      summary: Update List category
      tags:
      - Lists
      responses:
        '200':
          description: HTTP 200 response
        '409':
          description: HTTP 409 response
        '404':
          description: HTTP 404 response
        '400':
          description: HTTP 400 response
      description: 'Update category fields by ID or by name.

        > A duplicate name can only happen when **changing** the name to one already used by a **different** category.'
      parameters:
      - name: categoryRef
        in: path
        required: true
        schema:
          type: string
        example: '1'
        description: Category ID or category name.
      security:
      - bearerAuth: []
    delete:
      summary: Delete List category
      tags:
      - Lists
      responses:
        '204':
          description: HTTP 204 response
        '409':
          description: HTTP 409 response
      description: Delete a category by ID or by name.
      parameters:
      - name: categoryRef
        in: path
        required: true
        schema:
          type: string
        example: '1'
        description: Category ID or category name.
      security:
      - bearerAuth: []
  /lists/categories/bulk:
    post:
      summary: Create List categories (bulk)
      tags:
      - Lists
      responses:
        '207':
          description: HTTP 207 response
          content:
            application/json:
              schema:
                type: string
              example: "+ results (array)\n    + (object)\n        + index: 0 (number)\n        + status: 201 (number)\n \
                \       + category (ListCategory, optional)\n        + error (object, optional)"
        '413':
          description: HTTP 413 response
        '400':
          description: HTTP 400 response
      description: 'Create multiple categories at once.

        **Limit:** maximum `100` categories per request.'
      security:
      - bearerAuth: []
  /products:
    get:
      summary: Get products
      tags:
      - Products
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
[...]
