openapi: 3.0.3
info:
  title: Incomaker Commons v4
  version: 4.0.0
  description: Best-effort OpenAPI conversion from API Blueprint.
servers:
- url: https://commons.incomaker.com/v4
paths:
  /socialaccounts:
    get:
      summary: Get Accounts
      tags:
      - Social Accounts
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters `type`
      parameters:
      - name: active
        in: query
        required: false
        schema:
          type: boolean
        example: 'true '
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: network
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Filter accounts by name.
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /adaccounts/facebook:
    get:
      summary: Get Accounts for Facebook
      tags:
      - Ad Accounts
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters `type`
      description: Fetch advertising accounts with filters for network, name or type.
      parameters:
      - name: socialaccount
        in: query
        required: true
        schema:
          type: string
        example: ffa27357
        description: facebook`s account id
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '0'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /assets/email/generate:
    post:
      summary: Generate e-mail content (AI)
      tags:
      - Assets
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      subject:
                        type: string
                      preheader:
                        type: string
                      html:
                        type: string
                      text:
                        type: string
                    required:
                    - subject
                    - html
                    - text
                  meta:
                    type: object
                    properties:
                      model:
                        type: string
                      generatedAt:
                        type: string
                        format: date-time
                      language:
                        type: string
                    required:
                    - model
                    - generatedAt
                    - language
                required:
                - result
                - meta
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: string
              example: "```json\n{\n  \"error\": \"Invalid parameters: missing language or inputs.brief\"\n}\n```"
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: string
              example: "```json\n{\n  \"error\": \"You don’t have permission to generate AI content.\"\n}\n```"
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: string
              example: "```json\n{\n  \"error\": \"Unable to generate content\",\n  \"details\": {\n    \"reason\": \"prompt_too_long\"\n  }\n}\n```"
      description: Generate draft email content (subject, optional preheader, HTML body and plain-text version) using AI based on campaign context, target audience, selected products and custom instructions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                  description: ISO 639-1 language code of the output
                  example: cs
                tone:
                  type: string
                  description: Desired tone/style (e.g. sales, friendly, urgent, informational)
                  example: sales
                context:
                  type: object
                  properties:
                    campaignId:
                      type: string
                      example: c_1001
                    campaignType:
                      type: string
                      example: onetime
                    channel:
                      type: string
                      example: email
                  required:
                  - campaignId
                  - campaignType
                  - channel
                audience:
                  type: object
                  properties:
                    audienceId:
                      type: string
                      description: UUID of the target audience/segment
                      example: 0469ab2c-9ee4-4923-a470-9fbebbbb5252
                  required:
                  - audienceId
                products:
                  type: object
                  properties:
                    productIds:
                      type: array
                      items:
                        type: number
                      description: List of product IDs from the e-commerce catalog
                    limit:
                      type: number
                      description: Max number of products to reference/include
                      example: 6
                constraints:
                  type: object
                  properties:
                    maxSubjectLength:
                      type: number
                      description: Maximum allowed length of subject line
                      example: 55
                    includePreheader:
                      type: boolean
                      description: Whether to generate preheader text
                      example: true
                inputs:
                  type: object
                  properties:
                    brief:
                      type: string
                      description: Main instruction and copy direction for the AI
                      example: 'Výprodej zimní kolekce, zdůraznit dopravu zdarma nad 1 500 Kč. CTA: Nakoupit se slevou.'
                    brandName:
                      type: string
                      description: Brand name to use in the copy
                      example: Incomaker Shop
                  required:
                  - brief
              required:
              - language
              - context
              - audience
              - inputs
            example:
              language: cs
              tone: sales
              context:
                campaignId: c_1001
                campaignType: onetime
                channel: email
              audience:
                audienceId: 0469ab2c-9ee4-4923-a470-9fbebbbb5252
              products:
                productIds: []
                limit: 6
              constraints:
                maxSubjectLength: 55
                includePreheader: true
              inputs:
                brief: 'Výprodej zimní kolekce, zdůraznit dopravu zdarma nad 1 500 Kč. CTA: Nakoupit se slevou.'
                brandName: Incomaker Shop
      operationId: post_assets_email_generate
  /audiences:
    get:
      summary: Get Audiences
      tags:
      - Audiences
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters `type`
      description: Fetch audiences by type, with filters for name, date range, and category.
      parameters:
      - name: type
        in: query
        required: false
        schema:
          type: string
        example: incomaker
      - name: state
        in: query
        required: false
        schema:
          type: string
        example: paused,invalid
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: hollydays
        description: Filter audiences by name.
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '20 '
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '5 '
        description: Pagination offset.
      security:
      - bearerAuth: []
  /campaigns:
    get:
      summary: Get campaigns
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: '+ campaigns (array[Campaign], required)

                + paging (Paging, required)'
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Invalid parameters
      description: Fetch campaigns by type, with filters for name, date range, and category.
      parameters:
      - name: categoryId
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: The ID of the category to filter campaigns.
      - name: channel
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
        example: christmass
        description: Filter campaigns by name.
      - name: type
        in: query
        required: false
        schema:
          type: string
        example: onetime
        description: Filter campaigns by type
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
        example: '2025-05-15'
        description: Start date filter
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
        example: '2025-05-25'
        description: End date filter
      - name: limit
        in: query
        required: false
        schema:
          type: number
        example: '10'
        description: Maximum number of campaigns to return.
      - name: offset
        in: query
        required: false
        schema:
          type: number
        example: '5'
        description: Pagination offset.
      security:
      - bearerAuth: []
  /campaigns/{campaignId}/archive:
    post:
      summary: Archive Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Campaign not found
      description: Move a campaign to the archived list.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
      operationId: post_campaigns_campaignId_archive
  /campaigns/{campaignId}/{action}:
    post:
      summary: Pause/Resume/Cancel Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Action not allowed
      description: Change a campaign’s running state. Replace `{action}` with `pause`, `resume`, or `cancel`.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      - name: action
        in: path
        required: true
        schema:
          type: string
        description: Action to perform (`pause`, `resume`, `cancel`).
      security:
      - bearerAuth: []
      operationId: post_campaigns_campaignId_action
  /campaigns/{campaignId}/rename:
    put:
      summary: Rename Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: Rename an existing campaign.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
      operationId: put_campaigns_campaignId_rename
  /campaigns/{campaignId}/duplicate:
    post:
      summary: Duplicate Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: Clone an existing campaign.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
      operationId: post_campaigns_campaignId_duplicate
  /campaigns/{campaignId}:
    delete:
      summary: Delete Campaign
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
      description: Remove a campaign permanently.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the campaign.
      security:
      - bearerAuth: []
      operationId: delete_campaigns_campaignId
  /campaigns/categories:
    get:
      summary: Get Categories
      tags:
      - Campaigns
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: string
              example: '"categoryId": "1",

                "name": "Category 1",

                "color": "#FF0000"

                "categoryId": "2",

                "name": "Category 2",

                "color": "#00FF00"'
      description: Fetch all campaign categories.
      security:
      - bearerAuth: []
      operationId: get_campaigns_categories
    post:
      summary: Add New Category
      tags:
      - Campaigns
      responses:
        '201':
          description: HTTP 201 response
        '400':
          description: HTTP 400 response
      description: Create a new campaign category.
      security:
      - bearerAuth: []
      operationId: post_campaigns_categories
  /contacts/{contactId}:
    get:
      summary: Get contact
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contactId:
                    type: string
                  clientContactId:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  titleBefore:
                    type: string
                  titleAfter:
                    type: string
                  formalSalutation:
                    type: string
                  informalSalutation:
                    type: string
                  company:
                    type: string
                  position:
                    type: string
                  personalId:
                    type: string
                  consentDate:
                    type: string
                  contactSource:
                    type: string
                  created:
                    type: string
                  updated:
                    type: string
                  clientContactCreated:
                    type: string
                  email:
                    type: string
                  phoneNumber1:
                    type: string
                  phoneNumber2:
                    type: string
                  street:
                    type: string
                  street2:
                    type: string
                  city:
                    type: string
                  postalCode:
                    type: string
                  region:
                    type: string
                  country:
                    type: string
                  language:
                    type: string
                  birthday:
                    type: string
                  location:
                    type: object
                    properties:
                      latitude:
                        type: number
                      longitude:
                        type: number
                  pricelist:
                    type: string
                  remarks:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                        group:
                          type: string
                  lists:
                    type: array
                    items:
                      type: string
              example:
                contactId: 263d7733-b8f5-4f62-9330-525702be7be7
                clientContactId: '1245451254'
                firstName: John
                lastName: Doe
                titleBefore: Prof.
                titleAfter: Ph.D.
                formalSalutation: Dear Mr. Doe
                informalSalutation: Dear John
                company: Incomaker s.r.o.
                position: CEO
                personalId: '75876549203'
                consentDate: '2018-05-30T13:00:00+02:00'
                contactSource: Pop-up
                created: '2018-05-30T13:00:00+02:00'
                updated: '2018-05-30T13:00:00+02:00'
                clientContactCreated: '2018-05-30T13:00:00+02:00'
                email: info@incomaker.com
                phoneNumber1: '87639642'
                phoneNumber2: '76590824502'
                street: Argentinska
                street2: '38'
                city: Prague
                postalCode: '17000'
                region: Prague
                country: CZ
                language: cs
                birthday: '2018-05-30T13:00:00+02:00'
                location:
                  latitude: 50.0820343
                  longitude: 14.4008503
                pricelist: End user
                remarks: Nothing special for this contact
                tags:
                - tag1
                - tag2
                fields:
                - name: Shoe size
                  value: '45'
                  group: Parameters
                - name: urgency
                  value: medium
                  group: Parameters
                lists:
                - Test
                - Test2
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to view contact 263d7733-b8f5-4f62-9330-525702be7be7
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The contact 263d7733-b8f5-4f62-9330-525702be7be7 does not exist
      description: Returns the list of contacts of the e-shop.
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      operationId: get_contacts_contactId
    put:
      summary: Update contact
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit contact 760819d3-92bb-420c-967a-77f693dfc5d3
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The contact 760819d3-92bb-420c-967a-77f693dfc5d3 does not exist
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing mandatory parameter 'title'
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"error\" : \"Error parsing consentDate\"   - An invalid parameter. The particular parameter should be returned.\n}"
      description: Update the contents of an existing contact.
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Contact'
              - type: object
                properties:
                  event:
                    type: string
                    description: The method creates a default [event](#Events) if this attribute is not set. If you need to create a custom event instead, set it here.
            example:
              contactId: 263d7733-b8f5-4f62-9330-525702be7be7
              clientContactId: '1245451254'
              firstName: John
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mr. Doe
              informalSalutation: Dear John
              company: Incomaker s.r.o.
              position: CEO
              personalId: '75876549203'
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              created: '2018-05-30T13:00:00+02:00'
              updated: '2018-05-30T13:00:00+02:00'
              clientContactCreated: '2018-05-30T13:00:00+02:00'
              email: info@incomaker.com
              phoneNumber1: '87639642'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              location:
                latitude: 50.0820343
                longitude: 14.4008503
              pricelist: End user
              remarks: Nothing special for this contact
              tags:
              - tag1
              - tag2
              fields:
              - name: Shoe size
                value: '45'
                group: Parameters
              - name: urgency
                value: medium
                group: Parameters
              lists:
              - Test
              - Test2
              event: my_custom_event
      security:
      - bearerAuth: []
      operationId: put_contacts_contactId
    delete:
      summary: Delete contact
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to delete contact 760819d3-92bb-420c-967a-77f693dfc5d
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Contact 760819d3-92bb-420c-967a-77f693dfc5d does not exist
      description: Delete an existing contact.
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
            example:
              event: my_custom_event
      security:
      - bearerAuth: []
      operationId: delete_contacts_contactId
  /contacts/count:
    get:
      summary: Get total number of contacts
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
              example:
                count: 1234
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to view tag 12545411
      description: Returns the total number of contacts of the e-shop.
      security:
      - bearerAuth: []
      operationId: get_contacts_count
  /contacts:
    post:
      summary: Create contact
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /contacts/760819d3-92bb-420c-967a-77f693dfc5d3
          content:
            application/json:
              schema:
                type: object
                properties:
                  contactId:
                    type: string
              example:
                contactId: 760819d3-92bb-420c-967a-77f693dfc5d3
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add contacts.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing mandatory parameter 'email'
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Error parsing consentDate
      description: Creates a **single contact**. You may optionally provide an event and permId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Contact'
              - type: object
                properties:
                  event:
                    type: string
                    description: 'Optional custom event name (default: contact_add)'
                  permId:
                    type: string
                    description: Unique permission identifier
                    example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              clientContactId: '1245451254'
              firstName: John
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mr. Doe
              informalSalutation: Dear John
              company: Incomaker s.r.o.
              position: CEO
              personalId: '75876549203'
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              created: '2018-05-30T13:00:00+02:00'
              updated: '2018-05-30T13:00:00+02:00'
              email: info@incomaker.com
              phoneNumber1: '87639642'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              location:
                latitude: 50.0820343
                longitude: 14.4008503
              pricelist: End user
              remarks: Nothing special for this contact
              tags:
              - tag1
              - tag2
              fields:
              - name: Shoe size
                value: '45'
                group: Parameters
              - name: urgency
                value: medium
                group: Parameters
              lists:
              - Test
              - Test2
              event: my_custom_event
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: post_contacts
  /contacts/bulk:
    post:
      summary: Create multiple contacts
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contactIds:
                    type: array
                    items:
                      type: string
              example:
                contactIds:
                - 760819d3-92bb-420c-967a-77f693dfc5d3
                - 282419d3-92bb-420c-967a-aab693dfc5d3
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add contacts.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Error parsing 'birthday'
      description: Creates **multiple contacts**. You cannot use event or permId in bulk operations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Contact'
            example:
            - contactId: 263d7733-b8f5-4f62-9330-525702be7be7
              clientContactId: '1245451254'
              firstName: John
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mr. Doe
              informalSalutation: Dear John
              company: Incomaker s.r.o.
              position: CEO
              personalId: '75876549203'
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              created: '2018-05-30T13:00:00+02:00'
              updated: '2018-05-30T13:00:00+02:00'
              clientContactCreated: '2018-05-30T13:00:00+02:00'
              email: info@incomaker.com
              phoneNumber1: '87639642'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              location:
                latitude: 50.0820343
                longitude: 14.4008503
              pricelist: End user
              remarks: Nothing special for this contact
              tags:
              - tag1
              - tag2
              fields:
              - name: Shoe size
                value: '45'
                group: Parameters
              - name: urgency
                value: medium
                group: Parameters
              lists:
              - Test
              - Test2
            - clientContactId: '1245451278'
              firstName: Jane
              lastName: Doe
              titleBefore: Prof.
              titleAfter: Ph.D.
              formalSalutation: Dear Mrs. Doe
              informalSalutation: Dear Jane
              consentDate: '2018-05-30T13:00:00+02:00'
              contactSource: Pop-up
              email: jane@incomaker.com
              phoneNumber1: '12121545'
              phoneNumber2: '76590824502'
              street: Argentinska
              street2: '38'
              city: Prague
              postalCode: '17000'
              region: Prague
              country: CZ
              language: cs
              birthday: '2018-05-30T13:00:00+02:00'
              pricelist: End user
              lists:
              - Test2
      security:
      - bearerAuth: []
      operationId: post_contacts_bulk
  /contacts/login:
    post:
      summary: Contact login
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /events/1232124545
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
              example:
                eventId: '1232124545'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"error\" : \"Error parsing clientContactId\"   - An invalid parameter. The particular parameter should be returned.\n}"
      description: Use this method when a user logs into your e-shop (website, ERP, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContactId:
                  type: string
                  description: Unique identifier of contact in client's system (could be an e-mail address, some number, etc.)
                  example: 1245451254
                email:
                  type: string
                  description: Contact`s email - if there is no ID of the contact, email address could be passed instead. If both are provided, contactClientId has priority.
                  example: info@incomaker.com
                event:
                  type: string
                  description: The method creates a default login [event](#Events). You can use this attribute to rename it if necessary (e.g. you want to distinguish different kinds of logins).
                permId:
                  type: string
                  description: See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              clientContactId: '1245451254'
              email: info@incomaker.com
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: post_contacts_login
  /contacts/logout:
    post:
      summary: Contact logout
      tags:
      - Contacts
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /events/1232124545
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
              example:
                eventId: '1232124545'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"error\" : \"Error parsing clientContactId\"   - An invalid parameter. The particular parameter should be returned.\n}"
      description: Use this method when a user logs out from your e-shop (website, ERP, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContactId:
                  type: string
                  description: Unique identifier of contact in client's system (could be an e-mail address, some number, etc.)
                  example: 1245451254
                email:
                  type: string
                  description: Contact`s email - if there is no ID of the contact, email address could be passed instead. If both are provided, contactClientId has priority.
                  example: info@incomaker.com
                event:
                  type: string
                  description: The method creates a default logout [event](#Events). You can use this attribute to rename it if necessary.
                permId:
                  type: string
                  description: See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              clientContactId: '1245451254'
              email: info@incomaker.com
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: post_contacts_logout
  /contacts/subscriptions:
    get:
      summary: Contact get subscriptions
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                lists:
                - Newsletter
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Missing or invalid token.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Contact not found.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: Provide either 'clientContactId' or 'email'.
      description: Use this method to retrieve the contact’s current mailing/SMS subscription lists.
      parameters:
      - name: clientContactId
        in: query
        required: false
        schema:
          type: string
        example: '1245451254'
        description: Unique identifier of the contact in the client’s system.
      - name: email
        in: query
        required: false
        schema:
          type: string
        example: info@incomaker.com
        description: Contact’s email. If both are provided, `clientContactId` has priority.
      security:
      - bearerAuth: []
    put:
      summary: Contact replace subscriptions (full set)
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: array
                    items:
                      type: string
              example:
                lists:
                - Newsletter
                - E-shop customers
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing or invalid token.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to modify subscriptions.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Contact not found.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Invalid or missing 'lists' / selector.
      description: Use this method to **replace** the contact’s subscription lists with the provided set (idempotent).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                  description: Unique identifier of contact in Incomaker. If clientContactId or email are also provided, this has the highest priority.
                  example: 26341111-b8f5-4f62-9330-525702be7be7
                clientContactId:
                  type: string
                  description: Unique identifier of contact in client's system (could be an e-mail address, some number, etc.). contactId has priority if it is provided.
                  example: 1245451254
                email:
                  type: string
                  description: Contact`s email. If there is no ID of the contact, email address could be passed instead. If both are provided, contactClientId has priority.
                  example: info@incomaker.com
                lists:
                  type: array
                  items:
                    type: string
                  description: The **complete** set to keep. All previous subscriptions are replaced by these.
                  example:
                  - '`Newsletter'
                  - Customers`
                event:
                  type: string
                  description: Event name to record for auditing.
                  example: subscribe
                permId:
                  type: string
                  description: See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
              required:
              - lists
            example:
              clientContactId: '1245451254'
              email: info@incomaker.com
              lists:
              - Newsletter
              - E-shop customers
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
              event: subscribe
      security:
      - bearerAuth: []
      operationId: put_contacts_subscriptions
    patch:
      summary: Contact adjust subscriptions (partial)
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: array
                    items: {}
              example:
                lists: []
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing or invalid token.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to modify subscriptions.
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Contact not found.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Provide 'add' and/or 'remove', and a valid selector.
      description: Use this method to **add** and/or **remove** specific lists without touching others (idempotent).
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                  description: Unique identifier of contact in Incomaker. If clientContactId or email are also provided, this has the highest priority.
                  example: 26341111-b8f5-4f62-9330-525702be7be7
                clientContactId:
                  type: string
                  description: Unique identifier of contact in client's system (could be an e-mail address, some number, etc.). contactId has priority if it is provided.
                  example: 1245451254
                email:
                  type: string
                  description: Contact`s email. If there is no ID of the contact, email address could be passed instead. If both are provided, contactClientId has priority.
                  example: info@incomaker.com
                add:
                  type: array
                  items:
                    type: string
                  description: Lists to add.
                  example: Newsletter
                remove:
                  type: array
                  items:
                    type: string
                  description: Lists to remove (unsubscribe).
                  example: Customers
                event:
                  type: string
                  description: 'Event name to record (default: `subscriptions_changed`).'
                permId:
                  type: string
                  description: See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              clientContactId: '1245451254'
              remove:
              - Newsletter
              - E-shop customers
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
              event: subscriptions_changed
      operationId: patch_contacts_subscriptions
  /contacts/subscriptions/unsubscribe-all:
    patch:
      summary: Contact usubscribe from all
      tags:
      - Contacts
      responses:
        '200':
          description: HTTP 200 response
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing or invalid token.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to modify subscriptions.
      description: Use this endpoint to **unsubscribe from all** lists.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                  description: Unique identifier of contact in Incomaker. If clientContactId or email are also provided, this has the highest priority.
                  example: 26341111-b8f5-4f62-9330-525702be7be7
                clientContactId:
                  type: string
                  description: Unique identifier of contact in client's system (could be an e-mail address, some number, etc.). contactId has priority if it is provided.
                  example: 1245451254
                email:
                  type: string
                  description: Contact`s email. If there is no ID of the contact, email address could be passed instead. If both are provided, contactClientId has priority.
                  example: info@incomaker.com
                event:
                  type: string
                  description: 'Event name to record (default: `unsubscribe`).'
                permId:
                  type: string
                  description: See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              clientContactId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
              event: unsubscribe
      operationId: patch_contacts_subscriptions_unsubscribe_all
  /cart/items/{itemId}:
    post:
      summary: Add an Item to Cart
      tags:
      - Carts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId:
                          type: string
                        quantity:
                          type: integer
              example:
                items:
                - itemId: PR1245451254
                  quantity: 2
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Couldn't Authenticate.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing mandatory parameter 'permId'
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Product 'PR1245451254' not found
      description: Use this method to add a single item to the cart on your e-shop. The `itemId` identifies the product or product variant to add. For more complex maniputation with orders, see /orders endpoint.
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          example: PR1245451254
        example: PR1245451254
        description: Unique identifier of the product or product variant in the client's system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: number
                  description: The quantity of the item to add. Defaults to 1 if not provided.
                  example: 1
                clientContactId:
                  type: string
                  description: Unique identifier of the contact in the client's system (e.g., email address, number).
                  example: 1245451254
                email:
                  type: string
                  description: Contact’s email. Used if `clientContactId` is not provided. If both are provided, `clientContactId` takes priority.
                  example: info@incomaker.com
                cartId:
                  type: string
                  description: If the shop uses its internal identifier for a cart, it could be provided to Incomaker to distinguish between multiple carts
                  example: 312
                event:
                  type: string
                  description: The method creates a default [event](#Events). Use this attribute to rename it if necessary.
                permId:
                  type: string
                  description: Unique permission identifier for the request. See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              quantity: 2
              clientContactId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: post_cart_items_itemId
    delete:
      summary: Remove an Item from Cart
      tags:
      - Carts
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        itemId:
                          type: string
                        quantity:
                          type: integer
              example:
                items:
                - itemId: PR1245451254
                  quantity: 2
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Couldn't Authenticate.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add events.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing mandatory parameter 'permId'
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Item 'PR1245451254' not found in cart
      description: Use this method to remove a specific item from the cart on your e-shop.
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          example: PR1245451254
        example: PR1245451254
        description: Unique identifier of the product or product variant in the client's system.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContactId:
                  type: string
                permId:
                  type: string
            example:
              clientContactId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: delete_cart_items_itemId
  /cart/checkout:
    post:
      summary: Create an Order from Cart
      tags:
      - Carts
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  status:
                    type: string
              example:
                orderId: order789
                status: confirmed
        '401':
          description: HTTP 401 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Couldn't Authenticate.
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to create orders.
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing mandatory parameter 'permId'
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Cart is empty or does not exist
      description: Use this method to convert the cart into an order, setting the order status to `confirmed`. This finalizes the cart and creates a new order resource.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContactId:
                  type: string
                  description: Unique identifier of the contact in the client's system (e.g., email address, number).
                  example: 1245451254
                email:
                  type: string
                  description: Contact’s email. Used if `clientContactId` is not provided. If both are provided, `clientContactId` takes priority.
                  example: info@incomaker.com
                cartId:
                  type: string
                  description: If the shop uses its internal identifier for a cart, it could be provided to Incomaker to distinguish between multiple carts
                  example: 312
                orderId:
                  type: string
                  description: An internal identifier of the order (orderId). Should match with Order feed.
                  example: '''12158785122'''
                event:
                  type: string
                  description: The method creates a default [event](#Events). Use this attribute to rename it if necessary.
                permId:
                  type: string
                  description: Unique permission identifier for the request. See [permId](#permId).
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
            example:
              clientContactId: '1245451254'
              orderId: '1245451254'
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: post_cart_checkout
  /deals/{dealId}:
    get:
      summary: Get deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealId:
                    type: integer
                  name:
                    type: string
                  summary:
                    type: string
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        contactId:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
                  userId:
                    type: integer
                  stateId:
                    type: integer
                  value:
                    type: integer
                  progress:
                    type: integer
                  tags:
                    type: array
                    items:
                      type: string
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
              example:
                dealId: 12124
                name: Marketing analysis
                summary: Marketing analysis
                contacts:
                - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                  firstName: John
                  lastName: Smith
                  email: test1@incomaker.com
                  phone: +420 284681213
                - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                  firstName: Jane
                  lastName: Smooth
                  email: test2@incomaker.com
                  phone: +420 603525125
                userId: 1
                stateId: 2
                value: 10000
                progress: 75
                tags:
                - Test
                - Test2
                fields:
                - name: importance
                  value: high
                - name: urgency
                  value: medium
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to view deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      operationId: get_deals_dealId
    put:
      summary: Update deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: A parameter 'name' is invalid.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the business deal
                  example: Marketing analysis
                summary:
                  type: string
                  description: Description of the deal
                  example: Marketing analysis
                contacts:
                  type: object
                  properties:
                    contactId:
                      type: string
                      description: Incomaker contact_id (see Get contact method)
                      example: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                    clientContactId:
                      type: string
                      description: An id of the contact at client system. It is the same id as in the contact feed.
                      example: 121256564
                    email:
                      type: string
                      description: An email of a contact
                      example: test123@incomaker.com
                    phone:
                      type: string
                      description: A phone of a contact
                      example: +420 608123456
                  description: List of contacts connected with this deal (they can be specified by one of the following attributes in order of priority. If the *contactId* is specified, the contact with this id is added, otherwise *clientContactId* is used, otherwise *email*, etc.)
                userId:
                  type: number
                  description: An id of user who should have assigned the case. If not set, the user creating this deal is assigned.
                stateId:
                  type: number
                  description: An id of deal state of the deal.
                value:
                  type: number
                  description: The value of the deal.
                progress:
                  type: number
                  description: Probability that the deal will be finished. What is the progress of the deal? Number between 0 and 100
                tags:
                  type: array
                  items:
                    type: string
                  description: Deal tags.
                  example:
                  - Test
                  - Test2
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Custom field key name.
                        example: importance
                      value:
                        type: string
                        description: Custom field value.
                        example: high
                    required:
                    - name
                    - value
                  description: Deal`s custom fields JSON
                event:
                  type: string
                  description: The method creates a default [event](#Events) if this attribute is not set. If you need to create a custom event instead, set it here.
                  example: my_custom_event_name
            example:
              name: Marketing analysis
              summary: Marketing analysis
              contacts:
              - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                email: test1@incomaker.com
                phone: +420 284681213
              - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                email: test2@incomaker.com
                phone: +420 603525125
              userId: 1542
              stateId: 323
              value: 10000
              progress: 50
              tags:
              - Test
              - Test2
              fields:
              - name: importance
                value: high
              event: my_custom_event_name
      security:
      - bearerAuth: []
      operationId: put_deals_dealId
    delete:
      summary: Delete deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
            example:
              event: my_custom_event_name
      security:
      - bearerAuth: []
      operationId: delete_deals_dealId
  /deals:
    get:
      summary: Find deals
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                deals:
                - dealId: 123
                  name: Alpha Company
                  summary: Marketing analysis
                  contacts:
                  - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                    firstName: John
                    lastName: Smith
                    email: test1@incomaker.com
                    phone: +420 284681213
                  - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                    firstName: Jane
                    lastName: Smooth
                    email: test2@incomaker.com
                    phone: +420 603525125
                  userId: 1
                  stateId: 2
                  value: 10000
                  progress: 75
                  tags:
                  - Test
                  - Test2
                  fields:
                  - name: importance
                    value: high
                  - name: urgency
                    value: medium
                - dealId: 124
                  name: Alpha Ltd
                  summary: ''
                  contacts:
                  - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                    firstName: John
                    lastName: Smith
                    email: test1@incomaker.com
                    phone: +420 284681213
                  userId: 100
                  stateId: 1
                  value: 1000
                  progress: 50
                start: 21
                count: 40
                totalCount: 100
                totalPages: 5
                links:
                - href: /offset=40&limit=60
                  rel: next
                - href: /offset=0&limit=20
                  rel: previous
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view deals
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: responsible
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
    post:
      summary: Create deal
      tags:
      - Deals
      responses:
        '201':
          description: HTTP 201 response
          headers:
            Location:
              schema:
                type: string
              example: /deals/125411
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealId:
                    type: string
              example:
                dealId: '125411'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to add deals
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Error parsing contactId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the business deal
                  example: '"Marketing analysis`'
                summary:
                  type: string
                  description: Description of the deal
                  example: Marketing analysis
                contacts:
                  type: object
                  properties:
                    contactId:
                      type: string
                      description: Incomaker contact_id (see Get contact method)
                      example: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                    clientContactId:
                      type: string
                      description: An id of the contact at client system. It is the same id as in the contact feed.
                      example: 121256564
                    email:
                      type: string
                      description: An email of a contact
                      example: test123@incomaker.com
                    phone:
                      type: string
                      description: A phone of a contact
                      example: +420 608123456
                  description: List of contacts connected with this deal (they can be specified by one of the following attributes in order of priority. If the *contactId* is specified, the contact with this id is added, otherwise *clientContactId* is used, otherwise *email*, etc.)
                userId:
                  type: number
                  description: An id of user who should have assigned the case. If not set, the user creating this deal is assigned.
                stateId:
                  type: number
                  description: An id of deal state of the deal.
                value:
                  type: number
                  description: An expected value from the deal.
                progress:
                  type: number
                  description: Probability that the deal will be finished. What is the progress of the deal? Number between 0 and 100
                tags:
                  type: array
                  items:
                    type: string
                  description: Deal tags.
                  example:
                  - Test
                  - Test2
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Custom field key name.
                        example: importance
                      value:
                        type: string
                        description: Custom field value.
                        example: high
                    required:
                    - name
                    - value
                  description: Deal`s custom fields JSON
                event:
                  type: string
                  description: The method creates a default [event](#Events) if this attribute is not set. If you need to create a custom event instead, set it here.
                  example: my_custom_event_name
                permId:
                  type: string
                  description: See [permId](#permId). If there is more than one contact, `permId` is ignored.
                  example: 263d7733-b8f5-4f62-9330-525702be7be7
              required:
              - contacts
            example:
              name: Marketing analysis
              summary: Marketing analysis
              contacts:
              - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
              - email: test125@incomaker.com
              userId: 1542
              stateId: 323
              value: 10000
              progress: 50
              tags:
              - Test
              - Test2
              fields:
              - name: importance
                value: high
              event: deal_created
              permId: 263d7733-b8f5-4f62-9330-525702be7be7
      security:
      - bearerAuth: []
      operationId: post_deals
  /deals/{dealId}/attachments:
    get:
      summary: Get deals attachments
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    attachmentId:
                      type: number
                      description: The ID of the attachment
                      example: 6721
                    filename:
                      type: string
                      description: The name of the attachment file
                      example: document.pdf
                    url:
                      type: string
                      description: The URL to download the attachment
                      example: https://api.example.com/files/67890
                    uploadedAt:
                      type: string
                      description: The timestamp when the attachment was uploaded
                      example: '2023-05-23T10:20:30Z'
              example:
              - attachmentId: 67890
                filename: document.pdf
                url: https://api.example.com/files/67890
                uploadedAt: '2023-05-23T10:20:30Z'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
      description: Retrieves an attachment associated with a specific deal.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: number
          example: 12345
        example: '12345 '
        description: The ID of the deal to retrieve attachments for
      security:
      - bearerAuth: []
      operationId: get_deals_dealId_attachments
    post:
      summary: Post deals attachment
      tags:
      - Deals
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  attachmentId:
                    type: string
                  dealId:
                    type: string
                  fileName:
                    type: string
                  fileSize:
                    type: integer
                  uploadDate:
                    type: string
              example:
                attachmentId: '67890'
                dealId: '12345'
                fileName: example.pdf
                fileSize: 123456
                uploadDate: '2024-05-24T12:34:56Z'
        '400':
          description: HTTP 400 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Missing mandatory parameter 'name'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
      description: Adds an attachment to a deal. Deal can contain multiple attachments.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
          example: 12345
        example: '12345'
        description: ID of the deal to which the attachment will be uploaded
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: string
            example: "    --boundary\n    Content-Disposition: form-data; name=\"file\"; filename=\"example.pdf\"\n    Content-Type: application/pdf\n\n    (contents of the file)\n\n    --boundary--"
      security:
      - bearerAuth: []
      operationId: post_deals_dealId_attachments
  /deals/{deal_id}/attachments/{attachment_id}:
    delete:
      summary: Delete deals attachment
      tags:
      - Deals
      responses:
        '204':
          description: HTTP 204 response
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: '''document.pdf'' missing'
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to delete 'document.pdf'
      description: Deletes a specific attachment associated with a deal.
      parameters:
      - name: deal_id
        in: path
        required: true
        schema:
          type: number
          example: 12345
        example: '12345 '
        description: The ID of the deal
      - name: attachment_id
        in: path
        required: true
        schema:
          type: number
          example: 67890
        example: '67890 '
        description: The ID of the attachment to be deleted
      security:
      - bearerAuth: []
      operationId: delete_deals_deal_id_attachments_attachment_id
  /deals/{dealId}/contacts:
    get:
      summary: Get deals contacts
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        contactId:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
              example:
                contacts:
                - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                  email: test1@incomaker.com
                  phone: +420 284681213
                - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                  email: test2@incomaker.com
                  phone: +420 603525125
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
      description: Retrieve a list of contacts from a deal.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      operationId: get_deals_dealId_contacts
    post:
      summary: Add deals contacts
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to edit deal 12122
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The deal 12122 does not exist
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: A parameter 'contactId' is invalid.
      description: Assigns an existing contact to a deal.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                  description: ID af the assigned contact. The contact must exist.
                  example: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
              required:
              - contactId
            example:
              contacts:
              - contactId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                email: test1@incomaker.com
                phone: +420 284681213
              - contactId: abs2af26-d9ba-a0f1-4438-abe3b8952842
                email: test2@incomaker.com
                phone: +420 603525125
      security:
      - bearerAuth: []
      operationId: post_deals_dealId_contacts
  /deals/{dealId}/contacts/{contactId}:
    delete:
      summary: Remove contact from deal
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
        '404':
          description: HTTP 404 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: The contact 263d7733-b8f5-4f62-9330-525702be7be7 not found
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You don’t have permission to remove the contact
      description: Removes a specific contact from the deal. The contact still remains in the system.
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: number
        example: '12345 '
        description: The ID of the deal
      - name: contactId
        in: path
        required: true
        schema:
          type: string
        example: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
        description: The contact_id to be removed from the deal
      - name: '`dealId`'
        in: query
        required: false
        schema:
          type: number
          example: 12345
        description: The ID of the deal
      - name: '`contactId`'
        in: query
        required: false
        schema:
          type: string
          example: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
        description: The contact_id to be removed from the deal
      security:
      - bearerAuth: []
      operationId: delete_deals_dealId_contacts_contactId
  /deals/{dealId}/activities:
    get:
      summary: Get deals activities
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
              example:
                activities:
                - activityId: 8f0daf26-c9bb-40fa-b436-ffe3b89528eb
                  name: News from us
                  content: Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  userId: 1
                  medium: Phone
                  address: +420 602832132
                  direction: Incoming
                  start: '2023-05-23T10:20:30Z'
                  end: '2023-05-23T10:50:30Z'
                start: 21
                count: 1
                totalCount: 100
                totalPages: 5
                links:
                - href: /offset=40&limit=60
                  rel: next
                - href: /offset=0&limit=20
                  rel: previous
        '403':
          description: HTTP 403 response
          content:
            application/json:
              schema:
                type: object
              example:
                error: You don’t have permission to view deals
      description: Returns a list of activities (originally communicaitons).
      parameters:
      - name: dealId
        in: path
        required: true
        schema:
          type: string
      - name: responsible
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      - name: offset
        in: query
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /deals/states:
    get:
      summary: List deal states
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  states:
                    type: array
                    items:
                      type: object
                      properties:
                        dealStateId:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                        visible:
                          type: boolean
                        type:
                          type: string
                        order:
                          type: integer
                        color:
                          type: string
              example:
                states:
                - dealStateId: 123
                  name: Lead
                  description: Possible customer
                  visible: true
                  type: win
                  order: 1
                  color: '#1B1C5A'
                - dealStateId: 234
                  name: Active
                  description: Active customer
                  visible: true
                  order: 5
                  color: '#AABBDD'
      security:
      - bearerAuth: []
      operationId: get_deals_states
    post:
      summary: Create deal state
      tags:
      - Deals
      responses:
        '200':
          description: HTTP 200 response
          headers:
            Location:
              schema:
                type: string
              example: /deals/1234
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealStateId:
                    type: string
              example:
                dealStateId: '1234'
        '422':
          description: HTTP 422 response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: A parameter 'name' is invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the business deal state. Typically a step in the lifecycle.
                  example: Lead
                description:
                  type: string
                  description: call them` (string, optional) - Description of the business deal state.
                  example: '`Cold lead'
                visible:
                  type: boolean
[...]
